[project]
	description = Ansible playbooks to run robot framework-based test suites. Can be used as InfraRed plugin.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group github/rhos-infra
	owner = group user/Waldemar Znoinski (wznoinsk)
	owner = group user/tjamrisk
	label-Workflow = -1..+1 group user/RHOS CI (rhos-ci)
	label-Workflow = -1..+1 group user/Waldemar Znoinski (wznoinsk)
[access "refs/for/refs/*"]
	read = group user/Waldemar Znoinski (wznoinsk)
	push = group user/Waldemar Znoinski (wznoinsk)
	label-Code-Review = -2..+2 group user/Waldemar Znoinski (wznoinsk)
	label-Verified = -1..+1 group user/Waldemar Znoinski (wznoinsk)
	rebase = group user/Waldemar Znoinski (wznoinsk)
	removeReviewer = group user/Waldemar Znoinski (wznoinsk)
	submit = group user/Waldemar Znoinski (wznoinsk)
[access "refs/heads/*"]
	read = group user/Waldemar Znoinski (wznoinsk)
	create = group user/Waldemar Znoinski (wznoinsk)
	push = +force group user/Waldemar Znoinski (wznoinsk)
	pushMerge = group user/Waldemar Znoinski (wznoinsk)
[access "refs/tags/*"]
	push = group user/Waldemar Znoinski (wznoinsk)
	push = +force group user/Waldemar Znoinski (wznoinsk)
[receive]
	requireChangeId = true
[label "Workflow"]
	function = MaxWithBlock
	value = -1 Work in progress
	value =  0 Ready for reviews
	value = +1 Approved
	defaultValue = 0
